In [2]:
import seaborn as sns
import pandas as pd

In [3]:
df = sns.load_dataset("mpg")

In [4]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### Addition, soustration, multiplication, puissance, etc

### Sur l'ensemble de la dataframe

In [5]:
df[["mpg","cylinders", "displacement","horsepower","weight","acceleration","model_year"]]+5

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,23.0,13,312.0,135.0,3509,17.0,75
1,20.0,13,355.0,170.0,3698,16.5,75
2,23.0,13,323.0,155.0,3441,16.0,75
3,21.0,13,309.0,155.0,3438,17.0,75
4,22.0,13,307.0,145.0,3454,15.5,75
...,...,...,...,...,...,...,...
393,32.0,9,145.0,91.0,2795,20.6,87
394,49.0,9,102.0,57.0,2135,29.6,87
395,37.0,9,140.0,89.0,2300,16.6,87
396,33.0,9,125.0,84.0,2630,23.6,87
397,36.0,9,124.0,87.0,2725,24.4,87

In [6]:
df[["mpg","cylinders", "displacement","horsepower","weight","acceleration","model_year"]]/12

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,1.500000,0.666667,25.583333,10.833333,292.000000,1.000000,5.833333
1,1.250000,0.666667,29.166667,13.750000,307.750000,0.958333,5.833333
2,1.500000,0.666667,26.500000,12.500000,286.333333,0.916667,5.833333
3,1.333333,0.666667,25.333333,12.500000,286.083333,1.000000,5.833333
4,1.416667,0.666667,25.166667,11.666667,287.416667,0.875000,5.833333
...,...,...,...,...,...,...,...
393,2.250000,0.333333,11.666667,7.166667,232.500000,1.300000,6.833333
394,3.666667,0.333333,8.083333,4.333333,177.500000,2.050000,6.833333
395,2.666667,0.333333,11.250000,7.000000,191.250000,0.966667,6.833333
396,2.333333,0.333333,10.000000,6.583333,218.750000,1.550000,6.833333
397,2.583333,0.333333,9.916667,6.833333,226.666667,1.616667,6.833333

In [7]:
df[["mpg","cylinders", "displacement","horsepower","weight","acceleration","model_year"]]**2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,324.0,64,94249.0,16900.0,12278016,144.00,4900
1,225.0,64,122500.0,27225.0,13638249,132.25,4900
2,324.0,64,101124.0,22500.0,11806096,121.00,4900
3,256.0,64,92416.0,22500.0,11785489,144.00,4900
4,289.0,64,91204.0,19600.0,11895601,110.25,4900
...,...,...,...,...,...,...,...
393,729.0,16,19600.0,7396.0,7784100,243.36,6724
394,1936.0,16,9409.0,2704.0,4536900,605.16,6724
395,1024.0,16,18225.0,7056.0,5267025,134.56,6724
396,784.0,16,14400.0,6241.0,6890625,345.96,6724
397,961.0,16,14161.0,6724.0,7398400,376.36,6724

#### Operations entre colonnes

In [8]:
poids_puissance = df.weight/df.horsepower

In [9]:
df["poids_puissance"] = poids_puissance

In [11]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,poids_puissance
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,26.953846
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,22.381818
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,22.906667
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,22.886667
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,24.635714
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,32.441860
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,40.961538
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,27.321429
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,33.227848
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,33.170732

In [10]:
df2 = df.copy()

⚠️ Les opérations se basent sur l'index pour fonctionner, il faut faire attention (avantage et inconvenient)

In [12]:
df.index = df.index + 10000

In [13]:
df.weight/df2.horsepower

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
10393   NaN
10394   NaN
10395   NaN
10396   NaN
10397   NaN
Length: 796, dtype: float64

In [14]:
df + df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,poids_puissance
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Solutions :
1. Reset index (si on est sûr que chaque ligne se correspond)
2. `.values` (si on est sûr que chaque ligne se correspond)
3. Faire toujours très attention surtout si on utilise plusieurs dataframe (par exemple après filtration)